aiohttp==3.4.4
aiohttp-jinja2==1.1.0
aioopenssl==0.4.1
aiosasl==0.4.0
aioxmpp==0.10.1
arrow==0.12.1
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
Babel==2.6.0
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
dnspython==1.15.0
idna==2.7
idna-ssl==1.1.0
Jinja2==2.10
jinja2-time==0.2.0
lxml==3.8.0
MarkupSafe==1.1.0
multidict==4.4.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pyOpenSSL==18.0.0
python-dateutil==2.7.5
pytz==2018.7
singletonify==0.2.3
six==1.11.0
sortedcollections==1.0.1
sortedcontainers==2.1.0
spade==3.0.9
timeago==1.0.8
tzlocal==1.5.1
yarl==1.2.6
